name: .NET

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
      
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Get the tag name
      run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
        
    - name: Publish
      run: dotnet publish -c release -r ubuntu.20.04-x64 -o Upload/${{ env.TAG }} --self-contained false
      
    - name: SFTP Deploy
      uses: wangyucode/sftp-upload-action@v1.1
      with:
        host: ${{secrets.SCRAPER_IP}}
        port: ${{secrets.SCRAPER_SSH_PORT}}
        username: ${{secrets.SCRAPER_SSH_USER}}
        password: ${{secrets.SCRAPER_PASSWORD}}
        localDir: Upload
        remoteDir: Release
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        name: ${{ env.TAG }}
        path: Upload/${{ env.TAG }}
